*{
    font-family: 'Comic Neue', sans-serif;
    font-size: 40px;
}

body {
    background-color: #f0eeee;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.188);
    text-align: center;
    width: 50%;
    min-height: 30%;
}

#choices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#choices-container button {
    width: 45%;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.188);
    background-color: antiquewhite;
}

/* #next-question {
    background-color: green;
} */

.feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.feedback.correct {
    background-color: green; /* Fundo verde para correto */
}

.feedback.incorrect {
    background-color: red; /* Fundo vermelho para incorreto */
}

.btnbtn-primary{
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.button-center {
    margin-top: 20px;
}
